@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header figure{
    height: 100%;   
    width: 100%; 
}
.inicio{
    display: flex;
    height: 100%;   
    justify-content: center;
    align-items: center;
}
header{
    position: relative;
    background-image: url(imagnesSW/star\ uó\ topo.png);
    background-repeat: no-repeat;
    background-size:100%;
    height:43vw;
    width: 100%;
}
.kylo{
    width: 70vw;
    position: absolute;
    left: 9.8%;
    top: -0.5%;
    z-index: 1;
}
.star{
    position: absolute;
    top: 54.5%;
    left: 19.8%;
    width: 23vw;
}
.wars{
    position: absolute;
    top: 54.5%;
    left: 65.3%;
    width: 23vw;
}
.criar{
    position: absolute;
    top: 80%;
    left: 80%;
    width: 10vw;
}
.caixavermelha{
    position: absolute;
    top: 95%;
    left: 13%;
    z-index: 2;
    width: 20vw;
}
main{
    position: relative;
    height: 100%;
}
.fundo-main{
    position: relative;
    height: 70vw;
    background-image: url(imagnesSW/sta\ uo\ robot.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.caixa-titulo h2{
    font-size: 2vw;
    color: white;
    z-index: 3;
    position: absolute;
    left: 19%;
    width: 10%;
    top: 1.5%;
}
.texto1{
    color: white;
    position: absolute;
    top: 7.5%;
    left: 14.5%;
    width: 18.5%;
    z-index: 3;
    font-size: 1vw;
    font-family:'Open Sans', sans-serif;
}
.bataored{
    position: absolute;
    top: 10.5%;
    left: 17%;
    display: flex;
    width: 12%;
    height: 1.5%;
    z-index: 4;
    border: 3px solid white;
    border-radius: 6px;
}
button{
    color: white;
    background-color: transparent;
    justify-content: center;
    align-items: center
    
    }
.data{
    color: white;
    font-weight: lighter;
    font-size: 0.7vw;
    font-family:'Open Sans', sans-serif;
    position: absolute;
    z-index: 4;
    top: 12.5%;
    left: 25%;
    width: 13%;
    height: 3%;
}
.titulo-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 6%;
    top: 5%;
    position: absolute;
    left: 54%;
}
.titulo-sobre h3{
    text-transform: uppercase;
    font-size: 1.5vw;
    font-family:'Open Sans', sans-serif;
}
.linha{
    width: 9%;
    height: 0.1%;
    background-color: black;
    position: absolute;
    left: 60%;
    top: 9.5%;
}
.texto-sobre{
    width: 30%;
    position: absolute;
    top:10.5%;
    left: 39%;
    display: flex;
    text-align: right;
    flex-direction: column;
    height: 12%;
}
.texto-sobre p{
    font-size: 1.1vw;
    font-weight: bolder lighter;
    align-items: flex-end;
}
.caixa-batalha{
    width: 22%;
    z-index: 1;
    position: absolute;
    top: 7.5%;
    left: 70%; 
}
.linha2{
    width: 78%;
    height: 0.2%;
    background-color: black;
    position: absolute;
    left: 13%;
    top: 17%;
}
h1{
    left: 48.5%; 
    position: absolute; 
    top: 19.5%;
    font-size: 3vw;
    width: 20%;
    text-align: end;
}
ul{
    width: 40%;
    left: 30%; 
    position: absolute;
    top: -27%;
    font-size: 1.5vw;
    text-align: right;  
    list-style-type: none;
    z-index: 5;
}
li{
    padding: 3%;
}
.lista{
    font-family: 'Open Sans', sans-serif;
    position:absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    font-size: 1.4vw;
    width: 100%;
    height: 60%;
    justify-content: space-evenly;
}
.lista li:hover{
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    transition: all 3s ease-out;    
    background-color:#c91e00;
}
.sifh{
    width: 40vw;
    position: absolute;
    left: 14%;
    top: 18.5%;
    z-index: 1; 
}
.rey{
    width: 20vw;
    position: absolute;
    top: 19.5%;
    left: 72%; 
    z-index: 1;
}
.caixa-preta{
    display: flex;
    position: relative;
    height: 110vw;
    width: 100%;
    background-color:#2D2D2D;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;  
    justify-content: flex-start;
}
.luke{
    width: 38.6vw;
    top: 13.3%;
    position: absolute;
    left: 9%;
}
.luke img{
    width: 100%;
    height: 100%;
}
.caixa1{
    position: absolute;
    left: 48%;
    top: 15.1%;
    height: 7.2%;
    width: 39.3vw;
    display: flex;
    align-items: center;
}
.caixa1 img{
    width: 19.2vw;
    height: 100%;
}
.caixa2{
    position: absolute;
    left: 48%;
    top: 25.8%;
    height: 7.2%;
    width: 39.3vw;
    display: flex;
    align-items: center;
}
.caixa2 img{
    width: 19.2vw;
    height: 100%;
}
.stormtrroper:hover{
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(imagnesSW/Grupo\ novos\ graficos.png);
    opacity: 5;
}
.batalha:hover{
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-image: url(imagnesSW/Grupo\ novos\ graficos.png);
    opacity: 05;
}
.naves:hover{
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-image: url(imagnesSW/Grupo\ novos\ graficos.png);
    opacity: 57;
}
.stormtrup:hover{
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-image: url(imagnesSW/Grupo\ novos\ graficos.png);
    opacity: 5;
}
.luke:hover{
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(imagnesSW/Grupo\ novos\ graficos.png);
    opacity: 5;
}
.caixa-img{
    position: absolute;
    left: 9%;
    top: 37%;
    height: 7.2%;
    width: 78%;
    display: flex;
    align-items: flex-start;
}
.caixa-img img{
    width: 100%;
    height: 100%;
}
.container-list{
    position: absolute;
    left: 41%;
    top: 48%;
    width: 29%;
    height: 44%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}
.estrutura{
    display: flex;
    justify-content: flex-end;
    font-size: 2.3vw;
    font-family: 'Open Sans', sans-serif;
}
.bolder{
    font-weight: bolder;
}
.atributos{
    position: absolute;
    top: 4.5%;
    display: flex;
    left: 5.6%;
    justify-content: center;
    align-items: center;
    height: 7%;
    width: 30%;
}
.atributos h2{
    color: white;
    font-size: 2vw;
    font-weight: 800;
}
.rodape-main{
    position: absolute;
    top: 78%;
    left: 41.7%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    height: 7%;
}
.rodape-main p{
    font-size: 1vw;
    color: #FFFFFF;
    font-weight: 6;
}
.texto{
    display: flex;
    justify-content: flex-end;
}
.gamer{
    position: absolute;
    top:88%;
    left:37%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 29%;
}
.gamer h2{
    font-size: 2.3vw;
    color:#FFFFFF ;
    font-weight: 900;
    text-transform: uppercase;
}
.stortm{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    top: 82.7%;
    width: 30vw;
    left: 7%;    
}
.stortm img{
    width: 25vw;
}
h3{
    font-size: 2.3vw;
}
footer{
    position: relative;
    display: flex;
    height: 68vw;
    align-items: flex-end;
}
.botões{
    position: absolute;
    width: 100%;
    height: 29%;
    top: 0%;
    display: flex;
}
.download{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 13.4%;
    height: 68%;
    top: 20%;
    position: absolute;
    left: 36%;
}
.boxmenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 28%;
    background-color: black;
}
.botões button{
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    color: white;
    background-color: black;
}
.boxmenu button{
    font-family: "Sovereign" lighter;
}
.botões button:hover{
    cursor: pointer;
    box-shadow: inset  -14vw 0  #D74430, 2px 0 2px #000;
    transition: box-shadow 1s ease;
}
.botões h3{
    color: #000;
    font-size: 2vw;
    font-weight: lighter;
}
.botões h3:hover{
    font-size: 2vw;
    font-weight: 900;
}
.textodownload1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
}
.textodownload1 p{
    font-size: 1vw;
}
.escolher{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 13.4%;
    height: 68%;
    top: 20%;
    position: absolute;
    left: 58%;
}
.textodownload2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
}
.textodownload2 p{
    font-size: 1vw;
}
.explorar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 13.4%;
    height: 68%;
    top: 20%;
    position: absolute;
    left: 80%;
}
.textodownload3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
}
.textodownload3 p{
    font-size: 1vw;
}
.line-first{
    position: absolute;
    top: 99%;
    width: 38%;
    height: 2%;
    background-color:black;
}
.line-first:hover{
    cursor: pointer;
    box-shadow: inset  -14vw 0  #D74430, 2px 0 4px #000;
    transition: box-shadow 1s ease;
}
.caixafinal{
    background-color: #FF5A56;
    height: 39vw;
    width: 56vw;
}
.darthvader{
    bottom: 3.2%;
    position: absolute;
    left: 43.6%;
    width: 42%;
    height:60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.darthvader img{
    width: 80%;
}
.color{
    display: flex;
    justify-content: center;
}
.aplicativo{
    bottom: 42%;
    left: 11%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 23%;
}
.aplicativo h2{
    font-size: 2.3vw;
    font-weight: 800;
    color: white;
}
.paragrafo{
    left: 15%;
    bottom: 34%;
    width: 22%;
    height: 7%;
    position: absolute;
}
.paragrafo p{
    font-size: 0.9vw;
    color: white;
}
.imgapp{
    position: absolute;
    display: flex;
    bottom: 28%;
    left: 11.7%;
    justify-content: center;
    align-items: center;
    width: 28%;
    cursor: pointer;
}
.imgapp img{
    width: 10.5vw;
    margin: 1.5%;
}
.linhafooter{
    position: absolute;
    width: 22.4%;
    left: 14.6%;
    bottom: 24%;
    height: 0.3%;
    background-color: #D74430;
}
.logoStarwars{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    bottom: 13%;
    left: 10%;
}
.logoStarwars img{
    width: 48%;
}
.textofooter{
    width: 23%;
    bottom: 2%;
    left: 15%;
    position:absolute;
    display: flex;
    justify-self: center;
    height: 7%;
}
.textofooter p{
    color: white;
    font-size: 0.9vw;
}
.rodape{
    width: 20%;
    position: absolute;
    left: 62.6%;
    bottom: 2.8%;
}
.rodape p{
    font-size: 0.8vw;
}
/*----------@media---------*/
@media(max-width:754px){
    .bataored{
        position: absolute;
        top: 10.5%;
        left: 16%;
        height: 1.5%;
        width: 13%;
        height: 1.8%;
        z-index: 4;
        border: 3px solid white;
        border-radius: 6px;
    }    
}
@media(max-width:660px){
    .bataored{
        position: absolute;
        top: 10.5%;
        left: 16%;
        height: 1.5%;
        width: 15%;
        height: 1.8%;
        z-index: 4;
        border: 3px solid white;
        border-radius: 6px;
    }
}
@media(max-width:600px){
    .criar{
        position: absolute;
        top: 71%;
        left: 80%;
        width: 13vw;
    }
    .caixavermelha{
        position: absolute;
        top: 130%;
        left: 30%;
        z-index: 2;
        width: 65vw;
    }
}
@media(max-width:600px){
    main{
        position: relative;
        height: 100%;
    }
    .fundo-main{
        position: relative;
        height: 150vw;
        background-image: url(imagnesSW/sta\ uo\ robot.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .caixa-titulo h2{
        font-size: 6vw;
        color: white;
        z-index: 3;
        position: absolute;
        left: 48%;
        width: 28%;
        top: 3.5%;
    }
    .texto1{
        color: white;
        position: absolute;
        top: 7%;
        left: 40%;
        width: 50%;
        z-index: 3;
        font-size: 4vw;
        font-family:'Open Sans', sans-serif;
    }
    .bataored{
        position: absolute;
        top: 11%;
        left: 47%;
        display: flex;
        width: 30%;
        height: 1.5%;
        z-index: 4;
        border: 3px solid white;
        border-radius: 6px;
        font-size: 4vw;
    }
    button{
        color: white;
        background-color: transparent;
        justify-content: center;
        align-items: center
        
    }
    .data{
        color: white;
        font-weight: lighter;
        font-size: 2vw;
        font-family:'Open Sans', sans-serif;
        position: absolute;
        z-index: 4;
        top: 14%;
        left: 53%;
        width: 25%;
        height: 3%;
    }
    .caixa-batalha{
        width: 65%;
        z-index: 1;
        position: absolute;
        top: 18.5%;
        left: 30%;   
    }
    .titulo-sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 6%;
        top: 22.5%;
        position: absolute;
        left: 66%;
    }
    .titulo-sobre h3{
        text-transform: uppercase;
        font-size: 3.5vw;
        font-family:'Open Sans', sans-serif;
    }
    .linha{
        width: 35%;
        height: 0.1%;
        background-color: black;
        position: absolute;
        left: 60.5%;
        top: 26%;
    }
    .texto-sobre{
       width: 70%;
       position: absolute;
       top:26.5%;
       left: 25%;
       display: flex;
       text-align: right;
       flex-direction: column;
       height: 12%;
    }
    .texto-sobre p{
       font-size: 3.5vw;
       font-weight: bolder lighter;
       align-items: flex-end;
    }
    .linha2{
        width: 78%;
        height: 0.2%;
        background-color: gray;
        position: absolute;
        left: 17.5%;
        top: 32%;
    }
    h1{
        left: 51%; 
        position: absolute; 
        top: 32.5%;
        font-size: 3vw;
        width: 20%;
        text-align: right;
    }
    .strong{
        font-size: 7vw;
    }
    ul{
        left: 33%; 
        position: absolute;
        top: -10%;
        font-size: 1.5vw;
        text-align: right;
        list-style-type: none;
        z-index: 5;
    }
    li{
       padding: 9px;
    }
    .lista{
       font-family: 'Open Sans', sans-serif;
       position:absolute;
       top: 40%;
       display: flex;
       flex-direction: column;
       align-items:flex-end;
       font-size: 1.4vw;
       width: 100%;
       height: 62%;
       justify-content: space-evenly;
    }
    .lista li:hover{
       color: white;
       cursor: pointer;
       display: flex;
       justify-content: flex-end;
       width: 100%;
       transition: all 3s ease-out;
       background-color:#c91e00;
    }
    .sifh{
        width: 40vw;
        position: absolute;
        left: 8%;
        top: 34.5%;
        z-index: 1; 
    }
    .rey{
        width: 20vw;
        position: absolute;
        top: 34.5%;
        left: 72%; 
        z-index: 1;
    }
    .caixa-preta{
        flex-direction: column;
        height: 385vw;
        margin-top: 100%;
    }
    .luke{
        flex-direction: column;
        width: 80%;
        left: 10%;
        top: 5.6%;
    }
    .caixa1{
        flex-direction: column;
        top: 18.3%;
        left: 10%;
        width: 80vw;
        height: 20%;
   }
   .caixa1 img{
        width: 80vw;
   }
    .caixa2{
        flex-direction: column;
        top: 44.6%;
        left: 10%;
        width: 80%;
    }
    .caixa2 img{
        width: 80vw;
    }
    .caixa-img{
        top: 74%;
        left: 0;
        width: 100%;
    }
}
@media(max-width:600px){
    .container-list{
        height: 30%;
        top: 90%;
    }
    .container-list{
        height: 30%;
        top: 87%;
        left: 35%;
    }
    .estrutura{
        height: 7%;
    }
    .list{
        top: 15%;
        height:28%;
        left: 0%;
    }
    .atributos{
        top: 0.4%;
        left: 36%;
    } 
    .atributos h2{
        font-size: 4.5vw;
    }
    .rodape-main{
        width: 55%;
        top: 88.7%;   
    }
    .rodape-main p{
        font-size: 2vw;
    }
    .gamer h2{
        font-size: 3.4vw;
        
    }
    .gamer{
        width: 30%;
        left: 51%;
        top: 91.4%;
    }
    .botões{
        width: 290%;
        height: 60%;
        top: -10%;
        left: -125%;
    }
    .textodownload1{
        align-items: center;
        width: 40vw;
        
    }
    .textodownload1 p{
        font-size: 3vw;
    }
    .download{
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        width: 13.4%;
        height: 68%;
        top: 22%;
        position: absolute;
        left: 60%;
    }
    .boxmenu{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 28%;
        background-color: black;
    }
    .botões button{
        width: 100%;
        height: 100%;
        font-size: 3vw;
        color: white;
        background-color: black;
    }
    .boxmenu button{
        font-family: "Sovereign" lighter;
    }
    .botões button:hover{
        cursor: pointer;
        box-shadow: inset  -40vw 0  #D74430, 2px 0 10px #000;
        transition: box-shadow 1s ease;
    }
    .botões h3{
        color: #000;
        font-size: 4vw;
    }
    .botões h3:hover{
        font-size: 4.4vw;
        font-weight: 900;
    }
    .textodownload2{
        align-items: center;
        width: 50vw;
    }
    .textodownload2 p{
        font-size: 3vw;
    }
    .escolher{
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        width: 13.4%;
        height: 68%;
        top:95%;
        position: absolute;
        left: 60%;
    }
    .textodownload3{
        align-items: center;
        width: 50vw;
    }
    .textodownload3 p{
        font-size: 3vw;
    }
    .explorar{
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        width: 13.4%;
        height: 68%;
        top: 175%;
        position: absolute;
        left: 60%;
    }
    .line-first{
        position: absolute;
        top: 99%;
        width: 45%;
        height: 3%;
        background-color:black;
    }
    .line-first:hover{
        cursor: pointer;
        box-shadow: inset  -18vw 0  #D74430, 2px 0 4px #000;
        transition: box-shadow 1s ease;
    }
    .stortm{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35%;
        top: 92%;
        width: 30vw;
        left: -6%;    
    }
    .stortm img{
        width: 75vw;
    }
    .caixafinal{
        height: 220%;
        width: 100%;
        margin-bottom: -180%;
        margin-left: 0%;
    }
    .darthvader{
        top: 365%;
        left: 10%;
        width: 73%;
    }
    .aplicativo{
        top: 150%;
        width: 80%;
        height: 45%;
    }
    .aplicativo h2{
        font-size: 12vw;
    }
    .paragrafo{
        top: 190%;
        width: 79%;
        left: 11%;
        height: 40%;
    }
    .paragrafo p{
        font-size: 3.7vw;
        font-weight:lighter;
    }
    .imgapp{
        top: 215%;
        width: 80%;
        height: 30%;
        left: 11%;
    }
    .imgapp img{
        width: 39vw;
    }
    .linhafooter{
        top: 245%;
        width: 80%;
        height: 1.5%;
        left: 11%;
    }
    .logoStarwars{
        top: 265%;
        width: 80%;
        height: 2%;
        left: 11%;
    }
    .textofooter{
        top: 288%;
        width: 85%;
        height: 29%;
        left: 9%;
    }
    .textofooter p{
        font-size: 3.4vw;
    }
    .rodape{
        width: 73%;
        top: 428%;
        left: 15%;
        height: 20%;
    }
    .rodape p{
        font-size: 2.3vw;
    } 
}